.box{
    display: flex;
    max-width: 800px;
    max-height: 600px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 200px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.5;
    background-color: #77C8FF;

}
.dash{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 800px;
    height: 600px;
}


/* criar pesquisa */

.dashcriar{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.box#campodescricao{
    display: flex;
    margin-top: 50px;
    max-width: 400px;
    max-height: 450px;
    padding: 50px;
    margin-left: 15%;
    float: left;
    text-align: center;
}
.box#campodescricao textarea{
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
    margin-top: 100px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
    font-size: 25px;
    vertical-align: center;

}
.descricaotitulo{
    position: absolute;
    margin-left: 80px;
}

.box#boxperguntas{
    padding: 50px;
    margin-top: 50px;
    width: 450px;
    max-width: 450px;
    max-height: 450px;
}
.box#pergunta {
    text-align: center;
    border-radius: 10px;
    vertical-align: middle;
}

.box#descricao  {
    text-align: center;
    border-radius: 10px;
    vertical-align: middle;
}

.titulo{
    width: 250px;
    height: 50px;
    max-width: 250px;
    max-height: 50px;
    margin-left: 100px;
    margin-top: 15px;
}
.titulo textarea{
    align-self: center;
    font-size: 18px;
    text-align: center;
    border-radius: 10px;
}

.textopergunta{
    margin-left: -370px;
    margin-top: 100px;
}
.pergunta textarea{
    float: left;
    font-size: 18px;
    margin-left: 23px;
    text-align: left;
    width: 350px;
    height: 30px;
    max-width: 350px;
    max-height: 80px;
    border-radius: 10px;
}
.cancelarCriacao{
    position: absolute;
    background-image:url(../assets/icons/cross.png);
    background-position: 5px;
    background-repeat:no-repeat;
    background-color: red;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    opacity: 0.7;
    text-indent: 25px;
    font-size: 30px;
    margin-top: 620px;
    margin-left: -750px;
}
.postarPesquisa{
    position: absolute;
    background-image:url(../assets/icons/bullhorn.png);
    background-position: 5px;
    background-repeat:no-repeat;
    background-color: chartreuse;
    width: 200px;
    height: 45px;
    border-radius: 10px;
    opacity: 0.7;
    text-indent: 25px;
    font-size: 30px;
    margin-top: 620px;
    margin-left: -1280px;
}
.botaoadd{
    border-radius: 10px;
    font-size: 28px;
    width: 36px;
    height: 36px;
    max-width: 36px;
    max-height: 36px;
    margin: 25px;
}




