.box{
    position: relative;
    width: 800px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 100px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.5;
    background-color: #77C8FF;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dash{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    min-width: auto;
    max-width: 800px;
    min-height: 200px;
    max-height: 600px;
}
.botao{
    margin: 10px;
}
button{
    border-width: 1px;
    font-size: 35px;
    text-align: center;
    width: 450px;
    height: 45px;
    border-radius: 10px;
}
h2{
    float: top;
    text-align: center;
    font-size: 55px;
}
.criarPesquisa{
    background-image:url(../assets/icons/insert-template.png);
    background-repeat:no-repeat;
    background-position: 25px;
}
.criarPesquisa:hover{
    background-color:#D6D6D6;
}
.minhasPesquisas{
    background-image:url(../assets/icons/clipboard.png);
    background-repeat:no-repeat;
    background-position: 25px;
}
.minhasPesquisas:hover{
    background-color:#D6D6D6;
}
.todasPesquisa{
    background-image:url(../assets/icons/list2.png);
    background-repeat:no-repeat;
    background-position: 25px;
}
.todasPesquisa:hover{
    background-color:#D6D6D6;
}
