body {
    font-family: sans-serif;
    background: white;
}
.header{
    background: #174E73;
    color: white;
    padding: 10px;
    position: relative;
    margin-top: -10px;
    margin-left: -10px;
}
.header-principal {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 960px;
    color: white;
    padding: 10px;
}
.logo{
    vertical-align: middle;
    position: absolute;
    width: 208px;
    height: 62px;
}
.pesquisas{
    margin: 5px;
    text-align: center;
    font-family: sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
}
a{
    color: inherit;
    text-decoration:none;
}