body {
    font-family: sans-serif;
    background: white;
}

body{
    font-family: sans-serif;
    background: white;
    position: relative;
}
.box{
    display: flex;
    position: relative;
    width: 800px;
    height: 600px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 200px;
    border-radius: 10px 10px 10px 10px;
    opacity: 0.5;
    background-color: #77C8FF;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.login{
    position: absolute;
    width: 800px;
    height: 600px;
}
.campologin{
    position: center;
    margin: 0;
    border-style: hidden;
}
h2{
    text-align: center;
    font-size: 80px;
}
input{
    border-width: 1px;
    margin-left: 90px;
    font-size: 35px;
    text-align: center;
    width: 600px;
    height: 45px;
    border-radius: 10px;
}
input[type=submit]{
    padding: 5px;
    margin-left: 290px;
    width: 200px;
    height: 45px;
}
textarea{
    text-align: center;
}
.crieagora{
    text-align: center;
    margin-bottom: auto;
}
